:root {
    --editor-background-color: #202020;
    --editor-color: gray;
    --result-background-color: #151515;
    --result-border-color: #333333;
    --result-color: gray;
    --result-header-background-color: #0080ff;
    --result-header-color: white;
    --result-footer-background-color: gray;
    --result-footer-color: white;

    --scrollbar-background-color: #454545;
    --scrollbar-color: gray;

    --focus-color: #0080ff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-background-color);
}

.editor-panel {
    height: 50%;
    width: 99%;
}

.editor-status {
    color: gray;
    font-size: small;
    text-align: right;
}

.editor-text {
    background-color: var(--editor-background-color);
    color: var(--editor-color);
    font-family: monospace;
    height: 100%;
    overflow-wrap: normal;
    overflow-x: scroll;
    overflow-y: scroll;
    resize: vertical;
    white-space: pre;
    width: 100%;
}

.editor-text:focus {
    outline: none !important;
    border:1px solid var(--focus-color);
    box-shadow: 0 0 10px var(--focus-color);
}

.editor-panel table {
    border: 1px solid var(--result-border-color);
    border-collapse: collapse;
    background-color: var(--result-background-color);
    color: var(--result-color);
    margin: 10px;
    font-size: calc(10px);
}

.editor-panel table thead {
    background-color: var(--result-header-background-color);
    color: var(--result-header-color);
    font-weight: bold;
}

.editor-panel table th,
.editor-panel table td {
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
}

.editor-panel table tbody tr {
    border: 1px solid var(--result-border-color);
}​

.editor-panel table tbody tr:first-child,
.editor-panel table tbody tr:last-child {
    border-bottom: none;
}

.editor-panel table tfoot {
    background-color: var(--result-footer-background-color);
    color: var(--result-footer-color);
    font-weight: bold;
}

.editor-panel table td {
    vertical-align: top;
}

.editor-panel .error {
    color: red;
    font-size: small;
}